certifi==2023.5.7 ; python_version >= "3.10" and python_version < "4.0"
charset-normalizer==3.2.0 ; python_version >= "3.10" and python_version < "4.0"
idna==3.4 ; python_version >= "3.10" and python_version < "4.0"
importlib-metadata==6.8.0 ; python_version >= "3.10" and python_version < "4.0"
linkify-it-py==2.0.2 ; python_version >= "3.10" and python_version < "4.0"
markdown-it-py==2.2.0 ; python_version >= "3.10" and python_version < "4.0"
markdown-it-py[linkify,plugins]==2.2.0 ; python_version >= "3.10" and python_version < "4.0"
mdit-py-plugins==0.4.0 ; python_version >= "3.10" and python_version < "4.0"
mdurl==0.1.2 ; python_version >= "3.10" and python_version < "4.0"
pygments==2.15.1 ; python_version >= "3.10" and python_version < "4.0"
requests==2.31.0 ; python_version >= "3.10" and python_version < "4.0"
rich==13.4.2 ; python_version >= "3.10" and python_version < "4.0"
textual==0.27.0 ; python_version >= "3.10" and python_version < "4.0"
typing-extensions==4.7.1 ; python_version >= "3.10" and python_version < "4.0"
uc-micro-py==1.0.2 ; python_version >= "3.10" and python_version < "4.0"
urllib3==2.0.3 ; python_version >= "3.10" and python_version < "4.0"
zipp==3.16.0 ; python_version >= "3.10" and python_version < "4.0"
